.img-container {
  position: relative;
  margin-bottom: 2.375rem;
}

.img {
  overflow: hidden;
  border-radius: 8px;
  display: block;
  object-fit: cover;
}

.img img {
  display: block;
  height: 100%;
}

.in-cart {
  border: 2px solid var(--red);
}

.card--text {
  z-index: 0;
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.category {
  font-size: 0.875rem;
  font-weight: 400;
  color: var(--rose-500);
}

.name,
.price {
  font-weight: 600;
}

.name {
  color: var(--rose-900);
}

.price {
  color: var(--red);
}
