.cart {
  background-color: #fff;
  padding: 1.5rem;
  border-radius: 0.75rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  max-width: 50rem;
}

.title {
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--red);
}
